[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jmcm"]
	path = jmcm
	url = https://github.com/ypan1988/jmcm
[submodule "rminqa"]
	path = rminqa
	url = https://github.com/cran/rminqa
[submodule "roptim"]
	path = roptim
	url = https://github.com/ypan1988/roptim
